<!DOCTYPE html>
<html>
<head>
    <title>Distance Result</title>
</head>
<body>
<h1>Calculated Distance</h1>
<p>The shortest distance to the target point is: {{distance}} units.</p>
<a href="/">Go back to home</a>
</body>
</html>
